.calendar{
	width: 175px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.calendars{
	display: flex;
	width: 500px;
	justify-content: space-between;
}